* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;600;700&display=swap');

:root{
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --lt-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --dk-blue: hsl(209, 33%, 12%);
}

body {  
    display: flex;
    justify-content: center;
}

main {
    height: 100vh;
    margin: 80px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
}

.logo {
    height: 16px;
    margin-bottom: 45px;
}

h2 {
    font-weight: 100;
    color: var(--gray);
    padding-bottom: 25px;
}

h2 span {
    color: var(--dk-blue);
    font-weight: 600;
}

h5 {
    font-size: 12px;
    font-weight: 100;
    padding-bottom: 30px;
}


form {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid var(--pale-blue);
    width: 80vw;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
}

input::placeholder {
    color: var(--pale-blue);
    font-size: .75rem;
}

.error-text {
    color: var(--lt-red);
    font-size: .7rem;
    font-style: italic;
    text-align: center;
    margin-top: -2px;
    padding-bottom: 25px;
    display: none;
}

button {
    background-color: var(--blue);
    color: white;
    border: none;
    height: 40px;
    border-radius: 1.25rem;
    cursor: pointer;
    -webkit-box-shadow: 3px 6px 5px 0px rgba(219,206,219,1);
    -moz-box-shadow: 3px 6px 5px 0px rgba(219,206,219,1);
    box-shadow: 3px 6px 5px 0px rgba(219,206,219,1);
}

button:hover {
    background-color: hsl(223, 27%, 44%);
}

.dash {
    padding-top: 4rem;
    width: 100%;
    padding-bottom: 8.5rem;
}

.icons {
    display: flex;
    gap: 18px;
    margin-bottom: 2rem;
}

.icons i {
    color: var(--blue);
    border: 1px solid var(--pale-blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons i:hover {
    cursor: pointer;
    color: white;
    background-color: var(--blue);
}

footer p {
    font-size: 0.6rem;
    color: var(--gray);
    font-weight: 100;
    text-align: center;
    padding-bottom: .5rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-bottom: 20px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:500px) {
    .logo {
        height: 28px;
    }

    main {
        width: 640px;
       margin: 65px auto; 
    }
    
    h2 {
        font-size: 3rem;
        padding-bottom: 16px;
    }

    h5 {
        font-size: 20px;
        padding-bottom: 40px;
    }

    form {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }

    input {
        width: 65%;
        height: 54px;
        border-radius: 25px;
        padding-left: 15px;

    }
    

    input::placeholder {
        font-size: 1rem;
        padding-left: 15px;

    }

    button {
        width: 30%;
        height: 54px;
        font-size: 1rem;
        border-radius: 25px;
        justify-content: flex-end;
    }

    .dash {
        padding-top: 5rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    form {
        position: relative;
    }

    .error-text {
        position: absolute;
        bottom: -40px;
        left: 30px;
        font-size: .8rem;
    }
}
